# Ambiente virtual
venv_isolado/
.venv_isolado/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e temporários
*.log
*.tmp

# Configurações de IDEs/editores
.vscode/
.idea/
#arquivo do meu pc para mudar a cor do icone da pasta 
.directory